body {
    font-size: 14px;
    background-color: #DDDAD7;
}

.introduction {
    padding: 0;
    margin: 0;

    text-align: center;
}

.title {
    font-family: 'Platypi', serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 3rem;
}

.shadow {
    width: 20rem;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;

    color: black;
    background-color: white;

    border: 1px solid;
    box-shadow: 10px 10px;
    animation: desc 3s ease-in;
}

@keyframes desc {
    20% {
        box-shadow: 10px 10px 10px midnightblue;
        -webkit-box-shadow: 10px 10px 10px midnightblue;
        -moz-box-shadow: 10px 10px 10px midnightblue;
    }

    70% {
        box-shadow: 10px 10px 10px black;
        -webkit-box-shadow: 10px 10px 10px black;
        -moz-box-shadow: 10px 10px 10px black;
    }
}

.description {
    font-size: 16px;

    padding: 20px;
    margin-bottom: 1.5rem;
}

.button {
    border: 1px solid midnightblue;
    text-decoration: none;

    font-family: sans-serif;
    letter-spacing: 2px;

    color: black;
    box-shadow: 5px 5px 5px midnightblue;
    animation: desc 2.75s ease-in-out;

    padding: 1rem 2rem;

    cursor: pointer;
    transition: ease 0.5s;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 4.8rem;
}

.buttons>a {
    margin: 2px;
}
